:root {
  --transition-duration: 290ms;
  --transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);
  --width-content: 75rem;
  /* Colors */
  --azure-radiance: #097DEA;
  --regent-gray: #8A94A7;
  --shark: #242830;
  --dark-shark: #1D2026;
  --code-gray: #2C3039;
  --white: #FFF;
}

* {
  box-sizing: border-box;
  color: var(--regent-gray);
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--dark-shark);
  line-height: 1.4;
  font-size: 16px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  appearance: none;
  background-color: var(--shark);
  border: none;
  border-radius: 0.125rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  color: var(--white);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.1;
  text-transform: uppercase;
  opacity: 1;
  transition: all var(--transition-duration) var(--transition-function);
  padding: 1rem 2rem;
  white-space: nowrap;
}

button:hover,
button:focus {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.65);
}

button:active {
  transform: scale(0.95);
}

button.primary {
  background-color: var(--azure-radiance);
  background: linear-gradient(65deg, #0270D7 0, #0F8AFD 100%);
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.1px;
}

/* Main section */
.main {
  align-items: center;
  display: flex;
  min-height: 45.25rem;
  position: relative;
}

.main::before {
  background: linear-gradient(80deg, rgba(36, 40, 48, 0.85) 0%, rgba(36, 40, 48, 0) 100%);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: skewY(-12deg);
  transform-origin: 0;
  z-index: -1;
}

.main-content {
  margin: 0 auto;
  max-width: 100%;
  width: 70.5rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 27.5rem;
}

.title {
  color: var(--white);
  font-size: 2.85rem;
  font-weight: 600;
  line-height: 3.375rem;
  margin-bottom: 0.7rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.25rem;
}

/* Feature section */
.feature {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(20.75rem, 1fr));
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem 2rem 3rem 2rem;
  width: var(--width-content);
}

.feature-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.feature-img {
  margin-bottom: 1.5rem;
  width: 6.25rem;
}

.feature-title {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.feature-text {
  text-align: center;
}

/* Overview section */
.overview {
  background-color: var(--shark);
  padding: 3rem 0;
}

.overview-content {
  margin: 0 auto;
  max-width: 100%;
  padding: 2rem;
  width: var(--width-content);
}

.overview-item {
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

.overview-item:last-child {
  margin-bottom: 3rem;
}

.overview-img {
  max-width: 27.75rem;
  width: 100%;
}

.overview-info {
  display: flex;
  flex-direction: column;
  max-width: 22.75rem;
  width: 100%;
}

.overview-title {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.overview-text {
  margin-bottom: 1rem;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cell {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 0 1 9.5rem;
}

.cell i {
  color: var(--azure-radiance);
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.counter-value {
  color: var(--white);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
}

.counter-info {
  color: var(--white);
}

/* Preview section */
.preview {
  background: url("./assets/video-background.jpeg") var(--azure-radiance) center no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  padding: 1rem;
}

.preview-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 55rem;
}

.preview-content p {
  color: var(--white);
  margin-bottom: 3rem;
  max-width: 100%;
  text-align: center;
  width: 34rem;
}

.preview-title {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.preview-video {
  border-radius: 0.5rem;
  width: 100%;
}

.preview-video iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* Pricing section */
.pricing {
  align-items: center;
  display: flex;
  min-height: 100vh;
  padding: 2rem 1rem;
}

.pricing-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 71.5rem;
  width: 100%;
}

.pricing-title {
  color: var(--white);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.pricing-description {
  text-align: center;
  max-width: 40rem;
  width: 100%;
}

.pricing-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.pricing-card {
  align-items: center;
  background-color: var(--shark);
  border: 1px solid var(--code-gray);
  border-radius: 0.5rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex: 1 1 19rem;
  margin: 1rem;
  overflow: hidden;
  padding: 1.5rem;
  position: relative;
}

.pricing-card h6 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.pricing-card p {
  margin-bottom: 1.5rem;
}

.pricing-separator {
  background-color: var(--regent-gray);
  height: 1px;
  margin-bottom: 1.5rem;
  width: 100%;
}

.pricing-info {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 700;
}

.pricing-info span {
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 0.25rem;
  vertical-align: 40%;
}

.pricing-frequency {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.pricing-card ul {
  flex: 1;
  list-style-type: none;
  margin-bottom: 1.5rem;
}

.pricing-card ul > li {
  list-style-type: none;
}

.pricing-card ul > li > i {
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

.best-price {
  background-color: var(--azure-radiance);
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 3rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transform: rotateZ(45deg) translate(3rem, -0.8rem);
}

/* Testimonials section */
.testimonials {
  background-color: var(--shark);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 7rem 1rem;
}

.testimonial {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 15.5rem;
  margin: 0.5rem;
  padding: 1rem;
}

.testimonial img {
  border-radius: 50%;
  margin-bottom: 0.75rem;
  max-width: 100%;
  width: 10rem;
}

.testimonial-review {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 0.75rem;
  text-align: center;
}

.testimonial-author {
  color: var(--white);
  font-weight: 500;
}
