@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root {
  --alabaster: #f8f8f8;
  --woodsmoke: #121214;
  --dark-blue: #003;
  --royal-blue: #5866e6;
  --white: #fff;
  --athens-gray: #efeef4;
  --shadow: inset 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.35),
    inset 0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.35);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.general-container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.section:first-of-type {
  background-color: var(--alabaster);
  overflow: hidden;
  padding-left: 3rem;
  position: relative;
}

.section:nth-of-type(2) {
  align-items: center;
  background-color: var(--woodsmoke);
  padding: 1rem;
}

.section:last-of-type {
  align-items: center;
  background-color: var(--dark-blue);
  justify-content: center;
}

/* First section */
.title {
  color: var(--woodsmoke);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
  padding-top: 10rem;
  text-transform: uppercase;
  width: 22rem;
}

.highlighted {
  color: var(--royal-blue);
}

.bg-radius-img {
  background: var(--dark-blue)
    url('https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80')
    50% / cover no-repeat;
  border-radius: 100% 0 0 100% / 54% 72% 28% 46%;
  box-shadow: var(--shadow);
  min-height: 100vh;
}

.bg-radius {
  background-color: var(--royal-blue);
  border-radius: 100% 0 0 100% / 64% 72% 28% 36%;
  box-shadow: var(--shadow);
  padding: 5rem 0 0 5rem;
}

.bg-container-radius {
  background-color: var(--athens-gray);
  border-radius: 100% 0 0 100% / 74% 72% 28% 26%;
  box-shadow: var(--shadow);
  min-height: 100vh;
  padding: 5rem 0 0 5rem;
  position: absolute;
  right: 0;
  top: -5rem;
  width: 70%;
}

/* Second section */
.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-right: 3rem;
  max-width: 100%;
  text-align: center;
  width: 19rem;
}

.item-photo {
  border-radius: 74% 26% 17% 83% / 56% 33% 67% 44%;
  margin-bottom: 2rem;
  width: 100%;
}

.item-photo.second {
  border-radius: 45% 55% 13% 87% / 21% 33% 67% 79%;
}

.item-photo.last {
  border-radius: 51% 49% 41% 59% / 81% 64% 36% 19%;
}

.item-name {
  color: var(--royal-blue);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.item-description {
  color: var(--white);
  line-height: 1.1;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.item-link {
  color: var(--royal-blue);
  cursor: pointer;
  line-height: 1.1;
  text-decoration: none;
  text-transform: uppercase;
}

.item-link:hover,
.item-link:active {
  text-decoration: line-through;
}

/* Third section */
.img-container {
  border: 0.08rem dashed var(--white);
  height: 19rem;
  position: relative;
  width: 19rem;
}

.img-container::before {
  animation: rotate 15s linear infinite;
  border: 0.08rem dashed var(--white);
  border-radius: 50%;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.photo-animation {
  animation: morph 4s ease-in-out infinite alternate;
  border-radius: 51% 49% 16% 84% / 88% 72% 28% 12%;
  width: 100%;
}

@keyframes morph {
  from {
    border-radius: 51% 49% 97% 3% / 11% 18% 82% 89%;
  }
  to {
    border-radius: 51% 49% 16% 84% / 88% 72% 28% 12%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0) scale(1.44);
  }
  to {
    transform: rotate(360deg) scale(1.44);
  }
}
