@import url('https://fonts.googleapis.com/css?family=Karla');

:root {
    --bg-color:         #eee;
    --black:            #0d101a;
    --white:            #fff;
    --green-dark:       #577300;
    --green-light:      #91BF00;
    --gray-road:        #5b5652;

    --font-size-base:     14pt;
    --font-weight-base:   400;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);

    color: var(--black);
    background-color: var(--bg-color);
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 1rem;

    color: var(--white);
    text-shadow: -.09rem 0 var(--black), 0 .09rem var(--black), .09rem 0 var(--black), 0 -.09rem var(--black);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    padding: 1rem;
    max-width: 70rem;
    margin: 0 auto;
}

.container_item {
    border: .25rem solid var(--white);
    border-radius: 50%;
    height: 21.5rem;
    position: relative;

    background: linear-gradient(var(--green-dark), var(--green-light));
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.5);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* overflow: hidden; */
}

.container_item_image {
    width: 14rem;
    z-index: 1;
    margin-right: 1rem;
}

.road {
    background-color: var(--gray-road);
    width: 36rem;
    height: 9rem;
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    /* border-bottom: 3pt solid red; */
    border-top: 3pt solid var(--white);
    transform: rotate(-34deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: movementRoad 2s linear infinite;
}

.line {
    background-color: var(--white);
    height: .5rem;
    width: 7rem;
}

@keyframes movementRoad {
    from {
        transform: rotate(-34deg) translateX(0);
    }
    to {
        transform: rotate(-34deg) translateX(-11rem);
    }
}

@media screen and (max-width: 60rem) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 35rem) {
    .container {
        grid-template-columns: 1fr;
    }
}