@import url('https://fonts.googleapis.com/css?family=Karla');

:root {
    --bg-color:         #eee;
    --black:            #0d101a;
    --white:            #fff;
    --green-dark:       #577300;
    --green-light:      #91BF00;
    --gray-road:        #5b5652;

    --font-size-base:     14pt;
    --font-weight-base:   400;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);

    color: var(--black);
    background-color: var(--bg-color);
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 1rem;

    color: var(--white);
    text-shadow: -.09rem 0 var(--black), 0 .09rem var(--black), .09rem 0 var(--black), 0 -.09rem var(--black);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    padding: 1rem;
    max-width: 70rem;
    margin: 0 auto;
}

.container_item {
    border: .25rem solid var(--white);
    border-radius: 50%;
    height: 21.5rem;
    position: relative;

    background: linear-gradient(var(--green-dark), var(--green-light));
    box-shadow: 0 .1rem .5rem rgba(0,0,0,.5);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.container_item_image {
    width: 14rem;
    position: relative;
    margin-right: 1rem;

    z-index: 1;
}

.road {
    width: 36rem;
    height: 9rem;
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 3.5rem;
    left: 0;
    
    border-top: 3pt solid var(--white);
    
    background-color: var(--gray-road);

    transform: rotate(-34deg);
    animation: movementRoad 2s linear infinite;
}

.line {
    background-color: var(--white);
    height: .5rem;
    width: 7rem;
}

/* Tooltip */
.tooltip-content {
	position: absolute;
	padding: 0.5rem 1rem 2.5rem;
	bottom: 50%;
    right: 8rem;
    width: 11.3rem;

    pointer-events: none;
	text-align: center;
	z-index: 2;
	opacity: 0;

    transform: scale3d(0, 0, 1);
    transition: opacity, transform .3s;
}

.tooltip-shape {
	position: absolute;
	width: 13.78rem;
	height: 10rem;
    bottom: 0;
    right: 5.5rem;

    z-index: 1;
    pointer-events: none;
    transform: translate3d(0, -90%, 0);
}

.tooltip-shape svg {
	stroke: var(--black);
	stroke-width: 2;
}

.tooltip-shape svg path {
    fill: var(--white);
    opacity: 0;

    transform: scale3d(0,0,1);
	transform-origin: 50% 50%;
	transition: opacity, transform .3s;
}

/* Hover in tooltip */
.container_item:hover .tooltip-content {
	opacity: 1;
	transform: scale3d(.8, .8, 1);
	transition-delay: .15s;
}

.container_item:hover .tooltip-shape {
	pointer-events: auto;
}

.container_item:hover .tooltip-shape svg path {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.container_item:hover .tooltip-shape svg path#path2 {
	transition-delay: .07s;
}

.container_item:hover .tooltip-shape svg path#path3 {
	transition-delay: .14s;
}

.container_item:hover .tooltip-shape svg path#path4 {
	transition-delay: .21s;
}

@keyframes movementRoad {
    from {
        transform: rotate(-34deg) translateX(0);
    }
    to {
        transform: rotate(-34deg) translateX(-11rem);
    }
}

@media screen and (max-width: 60rem) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 35rem) {
    .container {
        grid-template-columns: 1fr;
    }
}