@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --black: #222;
  --white: #FFF;
  --transition-duration: 350ms;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  background-color: #ebebeb;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.cellphone {
  background-color: #6666fe;
  background-image: url(https://www.transparenttextures.com/patterns/cubes.png);
  border: 1rem solid var(--white);
  border-top-width: 2.2rem;
  border-radius: .5rem;
  bottom: -1rem;
  box-shadow: 0.3rem -0.3rem 0.3rem rgba(0,0,0,.2), -0.3rem 0 0.3rem rgba(0,0,0,.2);
  height: 90vh;
  margin: 0 auto;
  max-width: 100%;
  left: 0;
  position: absolute;
  right: 0;
  width: 20rem;
}
