@import url('https://fonts.googleapis.com/css?family=Merienda');

:root {
  --color-neon: #000;
  --color-text: #FFF;
  --white: #FFF;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: url('https://s1.1zoom.ru/big0/857/347265-admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-family: 'Merienda', cursive;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  user-select: none;
}

.text {
  animation: pulse 1.3s ease-in-out infinite alternate;
  color: var(--color-text);
}

.text-small {
  --color-neon: #FC3E9F;
  font-size: 1.5rem;
}

.text-medium {
  --color-text: #BA01FF;
  --color-neon: #FF00DE;
  font-size: 2.3rem;
}

.text-big {
  --color-text: #B6FF00;
  --color-neon: #B6FF00;
  font-size: 4.5rem;
}

.text-xbig {
  --color-text: #FFDD1B;
  --color-neon: #FFDD1B;
  font-size: 7rem;
}

@keyframes pulse {
  from {
    text-shadow: 0 0 10px var(--white), 0 0 20px var(--white), 0 0 30px var(--white), 0 0 40px var(--color-neon), 0 0 70px var(--color-neon), 0 0 80px var(--color-neon), 0 0 100px var(--color-neon), 0 0 150px var(--color-neon);
  }
  to {
    text-shadow: 0 0 5px var(--white), 0 0 10px var(--white), 0 0 15px var(--white), 0 0 20px var(--color-neon), 0 0 35px var(--color-neon), 0 0 40px var(--color-neon), 0 0 50px var(--color-neon), 0 0 75px var(--color-neon);
  }
}
