@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #323033;
    color: #fff;
}
