:root {
  --white: #FFF;
  --cocacola-red: #F40103;
  --cod-gray: #151515;
  --cod-gray-2: #191919;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

.title,
.card-title {
  font-family: 'Dancing Script', cursive;
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

/* Coca Cola section */
.cocacola {
  background-color: var(--cod-gray);
  color: var(--white);

  .card {
    animation: shine 800ms linear infinite alternate;
    background-color: var(--cod-gray-2);
    border: 0.3rem solid var(--cocacola-red);
    border-radius: 50%;
    display: flex;
    filter: drop-shadow(0 0 0.85rem var(--cocacola-red)) drop-shadow(0 0 3.75rem var(--cocacola-red));
    height: 21rem;
    max-width: 100%;
    padding: 2rem;
    position: relative;
    transition: all 330ms ease-in-out;
    width: 21rem;
    will-change: width;

    &:is(:hover, :focus) {
      animation-play-state: paused;
      border-radius: 0.25rem;
      background-color: var(--cocacola-red);
      width: 40rem;

      .card-main-img {
        transform: rotate(35deg) scale(1);
      }

      .card-content {
        opacity: 1;
        pointer-events: all;
      }

      .card-front-img {
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    max-width: 50%;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity 100ms ease-in;
  }

  .card-text {
    font-size: 1rem;
    font-weight: 400;
  }

  .card-link {
    background-color: var(--white);
    border-radius: 0.25rem;
    color: var(--cocacola-red);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 330ms ease-in-out;

    &:hover {
      background-color: var(--cod-gray);
    }
  }

  .card-main-img {
    bottom: -1rem;
    height: 30rem;
    position: absolute;
    right: 1rem;
    transition: transform 330ms ease-in-out;
    transform: rotate(-750deg) scale(0);
  }

  .card-front-img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 330ms ease-in-out;
  }
}

.card-circle {
  background-color: var(--cod-gray-light);
  height: 21.875rem;
  width: 21.875rem;
}

@keyframes shine {
  from {
    filter: drop-shadow(0 0 0rem var(--cocacola-red)) drop-shadow(0 0 0.5rem var(--cocacola-red));
  }
  to {
    filter: drop-shadow(0 0 0.85rem var(--cocacola-red)) drop-shadow(0 0 3.75rem var(--cocacola-red));
  }
}

/* Pepsi section */
section:nth-child(2) {
  background-color: #f4f4f4;
}

/* Fanta section */
section:nth-child(3) {
  background-color: #ff8528;
}

/* Sprite section */
section:nth-child(4) {
  background-color: #01a759;
}
