@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
  --transition-function: cubic-bezier(0.23, 1, 0.32, 1);
  --white: #FFF;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right bottom, #bcaaa4, #b7a7a2, #b2a59f, #ada29d, #a89f9b);;
  font-family: 'Raleway', sans-serif;
}

.title {
  color: #5D4037;
  font-size: 2rem;
  text-align: center;
}

.container {
  border: 1pt solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  max-width: 100%;
  padding: 1rem;
  width: 42rem;
}

.card-wrap {
  flex-basis: 17rem;
  margin: 1rem;
  perspective: 800px;
  transform-style: preserve-3d;
}

.card {
  background: var(--white) url('https://cndiweni.files.wordpress.com/2016/03/12068750391.jpg') 50% 50%;
  border-radius: .4rem;
  cursor: pointer;
  box-shadow: rgba(black, 0.66) 0 2.2rem 4.4rem 0, inset #333 0 0 0 .5rem, inset rgba(var(--white), 0.5) 0 0 0 .55rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  transition: all 1s var(--transition-function);
}

.card-title {
  bottom: 1rem;
  color: var(--white);
  left: 1.5rem;
  font-size: 2.1rem;
  position: absolute;
}
