@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif Pro', serif;
    background-color: #323033;
    color: #fff;
}

.title {
    text-align: center;
    margin: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-content: center;

    max-width: 70rem;
    margin: 0 auto;
}

.card {
    border: .25rem solid #fff;
    max-height: 15.2rem;
}

.card__image {
    width: 100%;
}

.card__content {
    display: none;
}