@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
  --alabaster: #f8f8f8;
  --white: #fff;
  --dark-gray: #303335;
  --gray: #818c96;
  --dark-blue: #1f4782;
  --golden-tainoi: #e9be71;
  --golden: #ab834c;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  justify-content: center;
  min-height: 100vh;
}

.general-container {
  display: flex;
  height: 30rem;
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

.radio {
  display: none;
}

.content {
  background: var(--white)
    url('https://images.unsplash.com/photo-1524572217604-17e96c89e56f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80')
    100% / cover no-repeat;
  border-radius: 3rem;
  cursor: pointer;
  flex: 1;
  margin-right: 0.8rem;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.content:hover {
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.icon {
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  bottom: 1rem;
  color: var(--golden-tainoi);
  display: flex;
  font-size: 1.5rem;
  height: 2.5rem;
  justify-content: center;
  left: 1.1rem;
  position: absolute;
  width: 2.5rem;
}

.content:nth-of-type(2) {
  background-image: url('https://images.unsplash.com/photo-1444384851176-6e23071c6127?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80');
}

.content:nth-of-type(3) {
  background-image: url('https://images.unsplash.com/photo-1482406611936-43ea538e39d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80');
}

.content:nth-of-type(4) {
  background-image: url('https://images.unsplash.com/photo-1483663167873-0cfcc893b78c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2096&q=80');
}

.content:nth-of-type(5) {
  background-image: url('https://images.unsplash.com/photo-1475116127127-e3ce09ee84e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
  margin-right: 0;
}

.content:nth-of-type(2) .icon {
  color: var(--dark-gray);
}

.content:nth-of-type(3) .icon {
  color: var(--dark-blue);
}

.content:nth-of-type(4) .icon {
  color: var(--gray);
}

.content:nth-of-type(5) .icon {
  color: var(--golden);
}

.card-title {
  bottom: 1.2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  left: 4.5rem;
  line-height: 1.1;
  opacity: 0;
  position: absolute;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  transform: translateX(2rem);
  transition: 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95) 300ms;
  transition-property: opacity, transform;
  user-select: none;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.9rem;
}

/* Effect */
.radio:checked + .content {
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  flex: 10;
}

.radio:checked + .content > .card-title {
  opacity: 1;
  transform: translateX(0);
}
