@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
  --alabaster: #f8f8f8;
  --white: #fff;
  --royal-blue: #5866e6;
  --mandy: #ed5565;
  --persimmon: #fc6e51;
  --golden-tainoi: #ffce54;
  --shamrock: #2ecc71;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  justify-content: center;
  min-height: 100vh;
}

.general-container {
  display: flex;
  height: 30rem;
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

.content {
  background-color: var(--royal-blue);
  border-radius: 2rem;
  cursor: pointer;
  flex: 1;
  margin-right: 0.8rem;
  transition: flex 290ms ease-in-out;
}

.content:nth-of-type(2) {
  background-color: var(--mandy);
}

.content:nth-of-type(3) {
  background-color: var(--persimmon);
  flex: 3;
}

.content:nth-of-type(4) {
  background-color: var(--golden-tainoi);
}

.content:nth-of-type(5) {
  background-color: var(--shamrock);
  margin-right: 0;
}
